body {
    margin :0;
     padding: 0; 

    color: black;
}

.effect1 , .effect2{ margin : 18px;

}


     a { text-decoration: none;
        color black;}
    hr {     border: 0.5px solid black;
    }
